    <div id="zoopla-results-container"></div>

    <form id="zoopla-search-form" action="/results" method="POST">
        <label for="zoopla-search-form--input__search">Search for houses and flats for sale across the UK</label>
        <input id="zoopla-search-form--input__search" name="search" />
        <button id="zoopla-search-form--button__submit" type="submit">Search</button>
    </form>