$input-height: 2.25 * $base-unit;
$borders: 1px solid $color-midgrey;

body{
    margin: 1em;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: $base-unit;
    letter-spacing: 0.04em;
}

body *{
    box-sizing: border-box;
}

#zoopla-search-form--label{
    display: block;
    font-size: 1.25em;
    margin-bottom: 1em;

    &.zoopla-search-form--label__no-results{
        font-size: 1em;
        color: $color-darkgrey;
    }
}

#zoopla-search-form--input__search{
    height: $input-height;
    width: calc(100% - 6.5rem);
    padding: 0 5px;
    border: $borders;
    font-size: 1.25em;
}
#zoopla-search-form--button__submit {
    float: right;
    width: 5rem;
    height: $input-height;
    margin: 0 0.75rem 0 0.5rem;
    border: $borders;
    font-size: 1em;
    background: $color-palegrey;
}

#zoopla-results--count{
    margin-top: 0px;
    margin-bottom: 1rem;
    padding-top: 1px;
    font-size: 0.8em;
    font-weight: normal;

    &.zoopla-results--count__no-results{
        font-size: 1.25em;
    }
}

#zoopla-search-results{
    margin: 0;
    padding-left: 0;
}

.zoopla-results-item{
    margin-bottom: 2rem;
}

.results-item--image,
.property-image{
    width: 100%;
}

.property-image{
    border: $borders;
}

.results-item--details{
    padding:0 5px;
}

.property-title{
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.25em;
    text-transform: lowercase;
}

.property-price{
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: $color-highlight;
}

.property-description{
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.85em;
    line-height: 1.35em;
    color: $color-darkgrey;
}

.results-item--agent{
    padding: 5px 6px;
    background: $color-palegrey;

        & > * {
            margin-top: 0.5rem;
            margin-bottom: 0;
            font-size: 0.63em;
            font-weight: normal;
            color: $color-darkgrey;

            &:first-child{
                margin-top: 0;
            }
        }
}

.agent-logo{
    height: 50px;
}